[submodule "backend"]
	path = backend
	url = https://github.com/maximillian1508/easyrent-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/maximillian1508/easyrent-frontend.git
